/*css for countries using grid-layout*/
html,
body,
.grid-container {
  height: 100%;
  margin: 0;
}
 
.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.4fr 1.6fr 1.7fr 0.3fr;
  gap: 20px 20px;
  grid-template-areas:
    ". title title ."
    "navigationBar topFive demographicGraph demographicGraph"
    ". memeCarousel memeCarousel ."
    "footer footer footer footer";
}
 
.title {
  grid-area: title;
}
 
.topFive {
  grid-area: topFive;
}
 
.demographicGraph {
  grid-area: demographicGraph;
}
 
.navigationBar {
  grid-area: navigationBar;
}
 
.memeCarousel {
  grid-area: memeCarousel;
}
 
.footer {
  grid-area: footer;
}
 
.grid-container * {
  border: 3px solid red;
  position: relative;
}
 
.grid-container *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
}




/*css for carousel*/
.items {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
  
.item {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    /*border-radius: 50%;*/
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}
  
.item img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
  
.item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
    background-color: black;
}
  
.item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}
  
.item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
}
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    /*color: #fff;
    font-size: 32px;*/
    cursor: pointer;
    position: relative;
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  /*
  .button-container .button:hover {
    opacity: 1;
  }*/
  
  .button::before {
    content: "";
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container #left {
    float: left;
    transform: scale(-1, 1);
  }
  
  .button-container #right {
    float: right;
  }
