/*stylesheet for countries*/
/*general*/
body {
    background-color: #C6EAF0;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

ul, ol {
    list-style-type: decimal;
}
li {
    padding: 10px 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

/*grid layout*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px 20px;
    grid-template-areas:
        ". title title ."
        "navigationBar topFive demographicGraph demographicGraph"
        ". memeCarousel memeCarousel ."
        "info info info info"
        "footer footer footer footer";
  
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3em;
    letter-spacing: 1.4px;
    word-spacing: 1.2px;
    color: #174B58;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
}

.title {
    grid-area: title;
    grid-area: display none ;
    background-color: #B1E1EA;
    border-radius: 40px;
    border: 1px solid rgb(153, 153, 153);
}

.topFive {
    grid-area: topFive;
    background-color: #CDF3E8;
    border-radius: 40px;
    border: 1px solid rgb(153, 153, 153);
    padding: 10px;
}

.demographicGraph {
    grid-area: demographicGraph;
    background-color: #DEF7E6;
    border-radius: 40px;
    border: 1px solid rgb(153, 153, 153);
    padding: 10px;
}

.navigationBar {
    grid-area: navigationBar;
    background-color: #CAF2E7;
    border-radius: 40px;
    border: 1px solid rgb(153, 153, 153);
    padding: 10px;
}

.memeCarousel {
    grid-area: memeCarousel;
    background-color: #C7F2D5;
    border-radius: 40px;
    border: 1px solid rgb(153, 153, 153);
    padding: 10px;
    height: 80vh;
}

.info {
    grid-area: info;
    background-color: #E1EDDF;
    border-radius: 40px;
    border: 1px solid rgb(153, 153, 153);
    padding: 10px;
}

.footer {
    grid-area: footer;
    border-top: 1px solid rgb(153, 153, 153);
    padding: 10px;
}

.grid-container * {
    position: relative;
}

.grid-container *:after {
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-areas: "title" "navigationBar" "topFive" "demographicGraph" "memeCarousel" "info" "footer";
    }   

    .memeCarousel {
        height: 60vh;
    }
}

/*carousel*/
.items {
    min-height: 28vw;
    top: 33vh;
    transform: translate(0, -50%);
}
  
.item {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20vw;
    height: 100%;
    opacity: 0;
    transition: all 500ms ease-in-out;
}
  
.item img {
    width: 100%;
    height: 75%;
    object-fit: scale-down;  
}
  
.item p {
    opacity: 0;
}
  
.item.active {
    opacity: 1;
    z-index: 1;
}
  
.item.active img {
    background-color: black;
}
  
.item.active p {
    opacity: 1;
    text-align: center;
    vertical-align: center;
    border: 3px solid black;
    padding: 5px;
    width: 50vw;
    transform: translate(-30%, 0);
}
  
.item.prev {
    opacity: 25%;
    transform: translate(-100%, 0);
}
  
.item.next {
    opacity: 25%;
    transform: translate(0, 0);
}
  
.button-container {
    position: absolute;
    width: 50vw;
    height: 9vh;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.button {
    height: 100%;
}
  
#left {
    transform: scale(-1, 1);
}
  
#right {
    left: 100%;
    transform: translate(-205%, 0);
}

@media screen and (max-width: 800px) {
    .items {
        top: 15vh;
    }

    .item {
        width: 25vh;
    }

    .button-container {
        top: 35%;
        width: 70vw;
    }
}

@media screen and (max-width: 600px) {
    .items {
        top: 10vh;
    }

    .item {
        width: 18vh;
    }

    .item.active p {
        width: 80vw;     
        transform: translate(-35%, 0);
    }

    .button-container {
        width: 80vw;
    }
}

@media screen and (max-width: 450px) {
    .item.active p {
        transform: translate(-35%, 0);
    }

    .button-container {
        height: 7vh;
    }
}

@media screen and (max-width: 440px) {
    .item.active p {
        transform: translate(-33%, 0);
    }
}

@media screen and (max-width: 350px) {
    .item.active p {
        transform: translate(-30%, 0);
    }
}

@media screen and (max-width: 330px) {
    .button-container {
        top: 40%;
    }
}

@media screen and (max-width: 310px) {
    .item.active p {
        transform: translate(-25%, 0);
    }
}

/*menu*/
nav ul { 
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color:black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}
    
nav ul li {
    font-weight: bold;
}	

nav ul li a {
    font-weight: normal;
}
    
/*menu expander*/
.smallmenu {
    display: block;
}	
                    
.smallmenu a {	
    font-weight: bold;
    text-decoration: none;
}	
    
nav.expander li {
    display: block;
}	

.links {
    width: 98%;
}

@media screen and (max-width: 800px) {
    .expander {
        display: none
    }
}
